In [ ]:
import pandas as pd
from sqlalchemy import create_engine, Table, Column, Integer, String, Float, Time, MetaData
from sqlalchemy.sql import text

# Create engine and database
engine = create_engine('mysql+mysqlconnector://root:12345678@localhost/')
with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS red_bus"))

# Connect to the database
engine = create_engine('mysql+mysqlconnector://root:12345678@localhost/red_bus')

# Load and clean data
df = pd.read_csv(r"C:\Users\GANESH\OneDrive\Desktop\Red_Bus\APSRTC.csv")
df_cleaned = df.dropna()

# Rename columns
df_cleaned.columns = [
    'route_name', 
    'route_link', 
    'busname', 
    'bustype', 
    'departing_time', 
    'duration', 
    'reaching_time', 
    'star_rating', 
    'price', 
    'seats_available'
]


# Define table schema with TIME columns
metadata = MetaData()
bus_routes_table = Table(
    'bus_routes', metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('route_name', String(255)),
    Column('route_link', String(255)),
    Column('busname', String(255)),
    Column('bustype', String(50)),
    Column('departing_time', Time),  # Store as TIME in MySQL
    Column('duration', String(50)),
    Column('reaching_time', Time),  # Store as TIME in MySQL
    Column('star_rating', Float),
    Column('price', Float),
    Column('seats_available', Integer)
)

# Create table if it does not exist
with engine.connect() as conn:
    metadata.create_all(conn)

# Insert data into MySQL
df_cleaned.to_sql('bus_routes', con=engine, if_exists='append', index=False)

# Fetch and print data to verify
with engine.connect() as conn:
    result = conn.execute(text('SELECT * FROM bus_routes LIMIT 10'))
    rows = result.fetchall()
    for row in rows:
        print(row)

print("Data insert is done")